@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.navbar{
    background-color:rgb(216, 235, 236);
    height: 70px;
    font-family: 'Oswald', sans-serif;
    font-size: large;
  }
  

  .navlinks{
    font-size:large;
    padding: 10px;
  }


  h1{
    font-weight: bold;
    font-size: large;
  
  }

  body{
    background-color:burlywood;
  }
  
  .jumbotron{
    background-color: rgb(255, 254, 240);
    font-family: 'Oswald', sans-serif;
  }
  
  h3,h2,p
  {
    color: rgb(0, 0, 0);
    font-size: large;
    font-weight: bold;
  }

  .image{
    width:300px;
    height:300px;
  }
  .sociol{
    margin-right: auto;
    margin-left: auto;
  }
  
  
  .about{
  
      background-repeat:no-repeat;
      height: 80vh;
      width:100%;
      text-align: center;
      font-family: 'Oswald', sans-serif;
      font-size: larger;
    }
  
  
  .contact{
    background-repeat:no-repeat;
    height: 80vh;
    width:80%;
    border-radius: 40px;
    text-align: center;
    
    font-family: 'Noto Sans KR', sans-serif;
  
  
  }
  
  
  
  
  
  .search{
    font-family: 'Noto Sans KR', sans-serif;
  
  }
  
  input{
    font-size:large;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
  
  }
  